body {
    font-family: 'Courier New', Courier, monospace ;
    text-align: center;
    background-color: rgb(49, 49, 49);
}


hr {
    width: 500px;
    margin: 0.1em auto;
}

#title {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}


#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    border: 2px solid white;
    width: 60px;
    height: 60px;
    margin: 2.5px;


    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: rgb(30, 155, 30);
    color: white;
    border-color: white;
}

.present {
    background-color: rgb(235, 189, 19);
    color: white;
    border-color: white;

}

.absent {
    background-color: rgb(230, 24, 24);
    color: white;
    border-color: white;

}

